.margin-card-right-left{
    margin-left: 25%;
    margin-right: 25%;
}

.margin-card-top-bottom{
    margin-top: 15%;
    margin-bottom: 15%;
}

.margin-txt-bottom-FAQ{
    margin-bottom: 20px;
}

.margin-txt-bottom{
    margin-bottom: 10px;
}

.margin-txt-top{
    margin-top: 10px;
}

